* {
    box-sizing: border-box;
}

:root {
    font-size: 15px;
    font-family: 'Poppins', sans-serif;;

    /* Primary colors */
    --clr-prm-Red: hsl(0, 78%, 62%);
    --clr-prm-Cyan: hsl(180, 62%, 55%);
    --clr-prm-Orange: hsl(34, 97%, 64%);
    --clr-prm-Blue: hsl(212, 86%, 64%);

    /* Neutral colors */
    --clr-ntrl-VeryDarkBlue: hsl(234, 12%, 34%);
    --clr-ntrl-GrayishBlue: hsl(229, 6%, 66%);
    --clr-ntrl-VeryLightGray: hsl(0, 0%, 98%);

    /* Font Weight */
    --fw-200: 200;
    --fw-400: 400;
    --fw-600: 600;
}


/* Global Elements style */

body {
    margin: 0;
    padding: 0;
    border: none;
    line-height: 1.6;
}

h1, h2 {
    color: var(--clr-ntrl-VeryDarkBlue);
    font-weight: var(--fw-600);
    line-height: 1.5;
}

h1 { font-size: 1.6rem; }

h2 { font-size: 1.3rem; margin-bottom: 0.2em; line-height: 1.7;}

p {
    margin-top: 0;
    color: var(--clr-ntrl-GrayishBlue);
    font-weight: var(--fw-400);
}

img { max-width: 100%; }

/* Elements Styling */
header {
    text-align: center;
    margin: 5rem auto;
    width: min(80%,500px);
}

main {
    margin-bottom: 5rem;
    margin: 0 auto 5rem;
}

main .container {
    width: min(82%,1200px);
    margin-inline: auto;
}

section {
    max-width: 325px;
    padding: 0.5rem 2rem 0.5rem 1.6rem;
    margin: 0 auto 1.6rem;
    box-shadow: 0 10px 25px 0 hsla(229, 6%, 66%, 0.6);
    border-radius: 5px;
    border-top: 4px solid var(--border);
    overflow: auto;
}
section p {
    font-size: 0.85rem;
}

section img {
    margin-block: 1.3rem;
    float: right;
    width: 23%;
}

@media  (min-width : 800px){
    h1 {
        font-size: 2.25rem;
        margin-bottom: 1rem;
        line-height: 1.4;
    }

    header { margin: 5rem auto 4rem; }

    header p { font-size: 14px; }

    main .container {
        max-width: fit-content;
        display: grid;
        grid-template-areas:". u ."
                            "l u r"
                            "l d r"
                            ". d .";
                            gap: 2rem;
    }

    main section {
        margin: unset;
        width: 325px;
        padding: 0.7rem 2rem 0 2rem;
    }

    section p { letter-spacing: -0.02em }

    section img {
        margin-block: 1.7rem;
        width: 23%;
    }
}